html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    /* padding: .5rem; */
}
header{
    padding: 30px;
    background-color: rgb(94, 169, 59);
    color: white;
    position: relative;
    
}
 nav a+a {
    margin-left: 1rem;
} 
nav{
    display: flex;
    justify-content: flex-end;
    background-color: white;
    padding: 10px;
    
} 
main{
    flex: 1;
    background-color: white;
    padding: 1rem;
    
}
footer{
    background-color: rgb(94, 169, 59);
    padding: 50px;
    text-align: center;

}
.nav-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-right: 40px;
    border-radius: 5px;
    text-decoration: none; /* Usunięcie podkreślenia */
    cursor: pointer;
  } 

.logo-container img {
   width: 100px; 
   height: auto; 
}