html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
main {
    /* flex: 1; */
    display: grid;
    background-color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    /* padding-left: 35vh;
    padding-right: 35vh; */
}
.container {
    display: grid;
    grid-template-rows: auto;
}

.nav-button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    margin-right: 80px;
    border-radius: 5px;
    text-decoration: none;
    /* Usunięcie podkreślenia */
    cursor: pointer;
}

ul {
    margin-top: 10px;
    list-style-type: none;
}



.stats-container {
    display: flex;
    justify-content: center;
    background-color: rgb(176, 212, 159);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 70px;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 15px;
}
@media (max-width: 991px) {
    .stats-container {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.stats-wrapper {
    border-radius: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 46px 20px 0;
}

@media (max-width: 991px) {
    .stats-wrapper {
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
  }

.stats-row {
    gap: 20px;
    display: flex;
    padding: 40px 20px 0;
}

@media (max-width: 991px) {
    .stats-row {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
}

.stats-item {
    border-radius: 20px;
    background-color: var(--1, #7fc160);
    display: flex;
    flex-direction: column;
    color: var(--Text-1, #fff);
    text-align: center;
    width: 100%;
    padding: 30px 0;

}

@media (max-width: 991px) {
    .stats-item {
        margin-top: 40px;
    }
}

.stats-value {
    margin-top: 30px;
    font: 900 40px Inter, sans-serif;
}

.stats-label {
    margin-top: 15px;
    font: 300 30px Inter, sans-serif;
}